html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#svelte {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 4.2rem;
}

@media screen and (max-width: 767px) {
  main {
    padding-bottom: 4.2rem;
  }
}

.black {
  color: black;
}

.white {
  color: white;
}

.orange {
  color: #ffbf00;
}

.green {
  color: lightgreen;
}
