main {
  padding-top: 4.5rem;
}

@media screen and (max-width: 767px) {
  main {
    padding-bottom: 4.5rem;
  }
}

.black {
  color: black;
}

.white {
  color: white;
}

.orange {
  color: #ffbf00;
}

.green {
  color: lightgreen;
}
